html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  font-size: $fontSize--root;
  @media only screen and (min-width: $break--small) {
    font-size: $fontSize--large;
  }
}
body {
  font-family: $fontFamily;
  line-height: $lineHeight--base;
  color: $bodyColor;
  margin: 0;
}
body,
input,
button {
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
  font-family: $fontFamily--header;
}
a,
label {
  cursor: pointer;
}
img {
  display: block;
  border: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
p {
  line-height: 1.7;
}
p + p {
  margin-top: 1em;
}
p a,
blockquote a {
  color: $turqoise;
  text-decoration: none;
  border-bottom: 1px solid;
  &:hover, &:active, &:focus {
    color: $turqoise--dark;
  }
}
