.places {
  background-color: #D67F7D;
  color: $white;
}
.places__list {
  list-style: none;
  margin: 0;
  padding: 0;
  > li {
    margin: 1em 0;
    > a {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid;
    }
  }
}
