.section {
  padding: 4em 2em;
  h2,
  h3 {
    margin: 1em 0;
  }
  p {
    margin: 0;
  }
  p + p {
    margin-top: 1em;
  }
  @media only screen and (min-width: $break--small) {
    h2 {
      font-size: 2.5rem;
      margin: 0.5em 0 0;
      &:first-of-type {
        margin: 0 0 0.15em;
      }
    }
    h3 {
      font-size: 1.75rem;
      margin: 0.5em 0 0;
    }
  }
}
.section .section {
  padding: 1em 0;
}
