.is-hidden {
  display: none;
}
.mdToggle {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: #90C695;
  border: none;
  border-radius: 3px;
  color: $white;
}
.mdEditor {
  font-family: Monospace !important;
  font-size: 0.75rem !important;
}
