.signup {
  background-color: #808CA9;
  color: $white;
}
.signup label {
  display: none;
}
.signup input[type="email"] {
  border: none;
  padding: 0.75em;
  font-size: 1rem;
  margin: 0.5em 0 1em;
  width: 100%;
  border-radius: 3px;
}
.signup input[type="submit"] {
  background-color: #384A75;
  border: none;
  color: $white;
  padding: 1em;
  font-size: 1rem;
  font-weight: bold;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 3px;
}
