$fontFamily         : "Helvetica Neue", Arial, sans-serif;
$fontFamily--header : Georgia, serif;
$fontSize--root     : 16px;
$fontSize--small    : 0.813rem;
$fontSize--h1       : 2.625rem;
$fontSize--h2       : 1.625rem;
$fontSize--h3       : 1.250rem;
$lineHeight--base   : 1.643;

$white              : #FFFFFF;
$gray               : #727D84;
$gray--dark         : #39474E;
$gray--darker       : #233139;
$gray--light        : #F2F2F2;
$green              : #0CC67D;
$green--dark        : #09965F;
$turqoise           : #6FBBB7;
$turqoise--dark     : #5B9D99;

$bodyColor          : $gray--dark;

$break--small       : 668px;
$break--medium      : 1025px;
